:root {
  --red-100: #e04e39; 
  --red-80: #e67161;
  --beige-100: #c39367;
  --beige-80: #cfa985;
  --grey-80: #565554;
  --grey-40: #abaaa9;
  --col-gap: 24px; /* Расстояние между элементами */
}

.root {
  margin: auto;
}

.mr-auto {
  margin-right: auto;
}

.flex {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
  background: linear-gradient(145deg, #f3e9e1 0%, #f3b8b0 100%);
}

.container {
  height: 846px;
  width: 1396px;
  padding: 50px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

.title {
  font-weight: bold;
  font-size: 54px;
}

.subtitle {
  color: var(--grey-80);
}

.top-section {
  justify-content: space-between;
  gap: var(--col-gap);
  margin-bottom: var(--col-gap);
}

.top-text {
  gap: var(--col-gap);
}

.btn-area {
  font-size: 0;
  gap: var(--col-gap);
}


