.span-1 {
  width: 86px;
}
.span-2 {
  width: 196px;
}
.span-3 {
  width: 306px;
}
.span-4 {
  width: 416px;
}
.span-5 {
  width: 526px;
}
.span-6 {
  width: 636px;
}
.span-7 {
  width: 746px;
}
.span-8 {
  width: 856px;
}
.span-9 {
  width: 966px;
}
.span-10 {
  width: 1076px;
}
.span-11 {
  width: 1186px;
}
.span-12 {
  width: 1296px;
}
