/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

/* Common */
html {
  font-family: 'Circe', Arial, sans-serif;
  height: 100%;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #2c2a29;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  font-family: inherit;
  display: inline-block;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
